<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvctwo:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvctwo_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvctwo/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvctwo" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="D:/tools/jar/jsp/jstl/jakarta-taglibs-standard-1.1.2/jakarta-taglibs-standard-1.1.2/lib/jstl.jar" />
          <element id="library" level="project" name="Spring MVC-4.3.4.RELEASE" />
          <element id="library" level="project" name="Spring-4.3.4.RELEASE" />
          <element id="file-copy" path="D:/tools/jar/jsp/jstl/jakarta-taglibs-standard-1.1.2/jakarta-taglibs-standard-1.1.2/lib/standard.jar" />
          <element id="file-copy" path="D:/tools/programming/service/apache-tomcat-7.0.56/apache-tomcat-7.0.56/lib/jsp-api.jar" />
          <element id="file-copy" path="D:/tools/programming/service/apache-tomcat-7.0.56/apache-tomcat-7.0.56/lib/servlet-api.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>